<div class="puzzle-container">
    <div class="top-row">
        <h3 id="task-title">{{puzzle == undefined ? "" : puzzle.title}}</h3>
        <h6 id="task-number">Task <br> {{index}} / {{indexTotal}}</h6>
    </div>
    <div id="bottom-container" class="p-2 mt-4">
        <div class="task-story">
            <h4>Story</h4>
            <p [innerText]="puzzle == undefined ? '' : puzzle.story" id="task-story"></p>
        </div>
        <div id="examples">
            <div class="examples">
                <h4>Input Example</h4>
                <div class="example-text-container">
                    <p [innerText]="puzzle == undefined ? '' : puzzle.examples.inputExample"></p>
                </div>
            </div>
            <div class="examples">
                <h4>Logic Example</h4>
                <div class="example-text-container">
                   <p [innerText]="puzzle == undefined ? '' : puzzle.examples.logicExample"></p>
                </div>
            </div>
        </div>
        <div>
            <form action="" autocomplete="off">
                <div class="form-group">
                    <div class="col-md-5 mb-2">
                        <mat-form-field appearance="fill">
                            <mat-label>Answer</mat-label>
                            <input matInput #answerField type="text">
                        </mat-form-field>
                        <div class="buttons-container">
                            <button mat-stroked-button #answerButton type='submit' (click)="verifyAnswer($event)">Submit
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                            <a target="_blank" (click)="(routePage())" id="file">
                                <p class="m-0">Get input </p>
                            </a>
                        </div>
                    </div>
                    <small id="answerHelp" class="form-text text-muted">This should be the output you
                        recieved from
                        your solution</small>
                </div>
            </form>
        </div>
    </div>
</div>