<login-page-glitch-logo></login-page-glitch-logo>

<div class="col-sm-12 col-md-8 col-lg-5 my-5 container" [@tabsFadeTrigger]="tabVisibilityState">
  <tabset class="tabs-container">
    <tab #loginTab heading="Login" id="login-tab" (selectTab)="changeTab(0)">
      <div class="pt-5">
        <textarea #loginCodemirror></textarea>
        <div class="button-container">
          <a routerLink="/user/reset">Forgot your password?</a>
          <button mat-stroked-button type="button" (click)="userLogin()">
            Login
          </button>
        </div>
      </div>
    </tab>
    <tab #registerTab heading="Register" id="register-tab" (selectTab)="changeTab(1)">
      <div class="pt-5">
        <textarea #registerCodemirror></textarea>
        <div class="button-container">
          <button mat-stroked-button type="button" (click)="userRegister()">
            Register
          </button>
        </div>
      </div>
    </tab>
  </tabset>
</div>