@import '/src/app/globals.scss';

.tabs-container {
    height: 50vh;
}

::ng-deep .CodeMirror {
    background: rgba($color: clr(codeBlock), $alpha: 0.85) !important;
    padding: 1rem 0.3rem;
    border-radius: 0.6rem;
}

::ng-deep .CodeMirror-gutters {
    background: transparent !important;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;

    margin-top: 1rem;

    button {
        margin-right: 0.5rem;
        color: clr(primary);
        border-color: clr(primary);
        transition: 0.3s;

        &:hover {
            background-color: clr(primary);
            color: on-clr(primary);
        }
    }

    a {
        color: clr(subtleText);
    }
}