.user-table {
    width: 80%;
    margin: auto auto;
}

::ng-deep .center-header .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.mat-row {
    height: auto;
}

.mat-column-delete {
    text-align: right;
}

.mat-column-isAdmin {
    text-align: center;
}

.mat-column-year {
    text-align: center;
}