  <div [style.width.%]="25" class="container x-auto d-block main-logo">
    <div class="stack" style="--stacks: 3;">
      <span class="" style="--index: 0;"><img class="mx-auto d-block main-logo img-fluid"
          src="assets\logos\long_dark.svg" alt=""></span>
      <span style="--index: 1;"><img class="mx-auto d-block main-logo img-fluid" src="assets\logos\long_dark.svg"
          alt=""></span>
      <span style="--index: 2;"><img class="mx-auto d-block main-logo img-fluid" src="assets\logos\long_dark.svg"
          alt=""></span>
    </div>
  </div>
  <!--<img class="mx-auto d-block main-logo" src="../svg/long_dark.svg" alt="">-->
