<div *ngIf="!light" class="container col-lg-6 col-xl-4 d-block main-logo">
  <div class="stack" style="--stacks: 3;">
    <span style="--index: 0;"><img class="d-block main-logo" src="assets\logos\long_dark.svg" alt=""></span>
    <span style="--index: 1;"><img class="d-block main-logo" src="assets\logos\long_dark.svg" alt=""></span>
    <span style="--index: 2;"><img class="d-block main-logo" src="assets\logos\long_dark.svg" alt=""></span>
  </div>
</div>

<div *ngIf="light" class="container col-lg-6 col-xl-4 d-block main-logo">
  <div class="stack" style="--stacks: 3;">
    <span style="--index: 0;"><img class="d-block main-logo" src="assets\logos\long_light.svg" alt=""></span>
    <span style="--index: 1;"><img class="d-block main-logo" src="assets\logos\long_light.svg" alt=""></span>
    <span style="--index: 2;"><img class="d-block main-logo" src="assets\logos\long_light.svg" alt=""></span>
  </div>
</div>
<!--<img class="mx-auto d-block main-logo" src="../svg/long_dark.svg" alt="">-->