.user-table {
    width: 80%;
    margin: auto auto;

    .email-text {
        padding-right: 0.5em;
    }

    li{
        cursor: grab;

    }

}

::ng-deep .center-header .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.user-info-title{
    h6{
        color: rgba(0, 0, 0, 0.54);
        
    }
}