<div class="screen-overlay" [@fadeInOut]="slideInOutState" (click)="toggleMenuState()">

</div>

<div class="menu-container" [@slideInOut]="slideInOutState">
    <div class="menu-body">
        <h2>Sections</h2>
        <ul>
            <div *ngFor="let item of itemList; let i = index">
                <li *ngIf="item.visible()" matRipple matRippleColor="rgba(255, 255, 255, 0.2)"
                    (click)="selectTab(item.value)">{{item.name}}</li>
                <hr *ngIf="item.visible() && i != itemList.length - 1">
            </div>
        </ul>
    </div>
    <div class="menu-footer">
        <a href="">
            <h6>about</h6>
        </a>
    </div>
</div>