<div class="top-buttons">
    <div class="top-menu-container">
        <button type="button" (click)="toggleMenuState()">
            <mat-icon style="color: white">{{mobileMenuPositionState == 'in' ? 'menu' : 'clear'}}</mat-icon>
            <h4 *ngIf="mobileMenuPositionState == 'out'" style="color: rgba(255, 255, 255, 0.4); font-weight: 300;"
                class="ml-5 mb-0">Close
            </h4>
        </button>
    </div>

    <div class="top-btn-container">
        <div *ngIf="userIsAdmin">
            <button type='button' (click)="openAdmin()" class="btn btn-sm btn-outline-light">Dashboard</button>
        </div>
        <button type="button" (click)="userService.logout()" class="btn btn-md btn-outline-light">Logout</button>
    </div>
</div>

<login-page-glitch-logo></login-page-glitch-logo>

<app-mobile-menu [slideInOutState]="mobileMenuPositionState" [changeTab]="updateTabFromMenu.bind(this)"
    [itemList]="tabList" [toggleMenuState]="toggleMenuState.bind(this)" [showPuzzleTab]="chosenPuzzle != undefined">
</app-mobile-menu>

<div class="animated-tab-container container col-sm-8 col-md-6 col-lg-6 col-xl-4 my-5"
    [@tabsFadeTrigger]="tabVisibilityState">
    <tabset class="tab-container">
        <tab heading="All puzzles" id="puzzle-list-tab" (selectTab)="updateTabFromMenu('list'); changeTab('list')"
            [active]="listTabActive">
            <div class="pb-3 pt-5 px-3 list-container" #listContainer [@tabsBodyExpand]="puzzleListTabExpandState">
                <h3 *ngIf="!loading" class="mb-4">Challenges</h3>
                <app-all-puzzles-list [puzzleList]="puzzleList" [accessiblePuzzles]="accessiblePuzzles"
                    [inaccessiblePuzzles]="inaccessiblePuzzles" [openPuzzle]="openPuzzle.bind(this)">
                </app-all-puzzles-list>
            </div>
        </tab>

        <tab [disabled]="chosenPuzzle==undefined" heading="Puzzle"
            (selectTab)="updateTabFromMenu('puzzle'); changeTab('puzzle')" [active]="puzzleTabActive">
            <div class="py-3 px-2 list-container" id="puzzle-container" [@tabsBodyExpand]="puzzleTabExpandState">
                <puzzle-component *ngIf="!loading" [puzzle]="chosenPuzzle!" [index]="chosenPuzzleIndex!"
                    [indexTotal]="puzzleList.length.toString()">
                </puzzle-component>
            </div>
        </tab>

        <tab (selectTab)="updateTabFromMenu('account'); changeTab('account')" [active]="accountTabActive">
            <ng-template tabHeading>
                <mat-icon style="font-size: 20pt" class="material-icons-outlined">manage_accounts</mat-icon>
            </ng-template>
            <div class="py-3 px-2 list-container" [@tabsBodyExpand]="accountTabExpandState">
                <app-account *ngIf="!loading" [user]="user"></app-account>
            </div>
        </tab>
    </tabset>
</div>