@import '/src/app/globals.scss';

.top-buttons {
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .top-btn-container {
        margin-right: 2rem;
    
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
    
        gap: 1rem;
    }
    
    .top-menu-container {
        margin-left: 1rem;
        visibility: hidden;
        display: flex;
    
        button {
            z-index: 15;
            background-color: transparent;
            border: none;
            display: flex;
            padding: 0;
        }
    }
}


.list-container {
    background-color: $color-primary;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;

    .puzzle-list-container {
        div:first-child {
            .puzzle-list-item {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }

        div:last-child {
            .puzzle-list-item {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        .puzzle-list-item {
            list-style: none;
            padding: 1em;
            padding-left: 0.6em;

            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.2);
                cursor: pointer;
            }

            .puzzle-container {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                width: 100%;

                .puzzle-title {
                    flex-grow: 1;
                    white-space: nowrap;
                    margin: 0;
                }

                .puzzle-status {
                    font-size: 12pt;
                    color: rgb(170, 170, 170);
                    margin: 0;
                    margin-right: 0.4em;
                }

                .open-icon {
                    color: rgb(170, 170, 170);
                }
            }


        }

        .inaccessible {
            color: #7d7d7d;

            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.1);
                cursor: default;
            }

            .puzzle-container {
                .puzzle-status-divider {
                    background-color: #7d7d7d;
                }

                .puzzle-status {
                    color: #7d7d7d;
                }
            }
        }

    }
}

.nav-tabs {
    border-bottom: none;

    .nav-item {
        margin: 0;

        .nav-link {
            border: none;
            border-radius: 0px;
            padding: 3px 15px;
            height: 100%;
            display: flex;

            background-color: $color-primary;
            color: #8b8b8b;
        }

        .nav-link.active {
            color: white;

            border-bottom: 2px;
        }

        &:first-child {
            .nav-link {
                border-top-left-radius: 5px;
            }
        }

        &:nth-child(2) {
            .nav-link {
                border-top-right-radius: 5px;
            }
        }

        &:last-child {
            margin-left: auto;

            .nav-link {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .top-buttons {
        margin-top: 1rem;

        .top-menu-container {
            visibility: visible;
        }
    
        .top-btn-container {
            z-index: 10;
            margin-right: 1rem;
        }
    }


    .list-container {
        border-radius: 10px;
    }
    
    .nav-tabs {
        display: none;
    }
}