@import '/src/app/globals.scss';

.top-btn-container {
    position: absolute;
    right: 2rem;
    top: 2rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;

    gap: 1rem;

    button {
        outline-color: $color-primary;

        &:hover {
            background-color: $color-primary;
        }
    }
}

@media screen and (max-width: 1000px) {
    .top-btn-container {
        z-index: 10;
        right: 1rem;
        top: 1rem;
    }
}

.list-container {
    background-color: $color-primary;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border-top-left-radius: 0;
    transition: height 2ms ease-in-out;

    .puzzle-list-container {
        div:first-child {
            .puzzle-list-item {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }

        div:last-child {
            .puzzle-list-item {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        .puzzle-list-item {
            list-style: none;
            padding: 1em;
            padding-left: 0.6em;

            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.2);
                cursor: pointer;
            }

            .puzzle-container {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                .puzzle-title {
                    white-space: nowrap;
                    margin: 0;
                }

                .puzzle-status-divider {
                    height: 1px;
                    max-width: 80px;
                    width: 100%;
                    background-color: rgb(170, 170, 170);
                    margin: 0 0.3em;
                }

                .puzzle-status {
                    font-size: 12pt;
                    color: rgb(170, 170, 170);
                    margin: 0;
                }
            }


        }

        .inaccessible {
            color: #7d7d7d;

            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.1);
                cursor: default;
            }

            .puzzle-container {
                .puzzle-status-divider {
                    background-color: #7d7d7d;
                }

                .puzzle-status {
                    color: #7d7d7d;
                }
            }
        }

    }
}

.nav-tabs {
    margin-top: 50px;

    .nav-item {
        margin: 0;

        .nav-link {
            border: none;
            border-radius: 0px;
            padding: 3px 15px;

            background-color: $color-primary;
            color: #8b8b8b;
        }

        .nav-link.active {
            color: white;

            border-bottom: 2px;
        }
    }

    .nav-item:first-child {
        .nav-link {
            border-top-left-radius: 5px;
        }
    }

    .nav-item:last-child {
        .nav-link {
            border-top-right-radius: 5px;
        }
    }
}

.alert {
    margin-bottom: 0px;
    margin-top: 1rem;
}