<app-background-particles></app-background-particles>

<div class="top-btn-container">
    <div *ngIf="userIsAdmin">
        <button type='button' (click)="openAdmin()" class="btn btn-sm btn-outline-light mb-2">Dashboard</button>
    </div>
    <button type="button" (click)="userService.logout()" class="btn btn-md btn-outline-light mb-2">Logout</button>
</div>
<login-page-glitch-logo></login-page-glitch-logo>

<div class="container col-sm-8 col-md-6 col-lg-6 col-xl-4 mb-5">
    <tabset class="tab-container">
        <tab heading="puzzle_list.py" id="puzzle-list-tab" (selectTab)="listTabActive()">
            <div class="py-3 px-4 list-container" #listContainer>
                <h3 class="mb-4">Challenges</h3>
                <ul *ngIf="!loading" class="m-0 p-0 puzzle-list-container">
                    <div *ngFor="let puzzle of accessiblePuzzles; let i = index">
                        <li class="puzzle-list-item" (click)="openPuzzle(puzzle, i+1)">
                            <div class="puzzle-container">
                                <p class="puzzle-title">{{puzzle.title}}</p>
                                <p class="puzzle-status">{{i == accessiblePuzzles.length - 1 ? 'Todo' : 'Done'}}</p>
                                <mat-icon *ngIf="i != accessiblePuzzles.length - 1" class="open-icon">done</mat-icon>
                                <mat-icon *ngIf="i == accessiblePuzzles.length - 1"
                                    class="material-icons-outlined  open-icon">
                                    pending</mat-icon>
                            </div>
                        </li>
                        <hr *ngIf="puzzle.id != puzzleList[puzzleList.length - 1].id" [style.margin.px]="0">
                    </div>
                    <div *ngFor="let puzzle of inaccessiblePuzzles; let i = index">
                        <li class="puzzle-list-item inaccessible">
                            <div class="puzzle-container">
                                <p class="puzzle-title">{{puzzle.title}}</p>
                                <p class="puzzle-status">Locked</p>
                                <mat-icon>block</mat-icon>
                            </div>
                        </li>
                        <hr *ngIf="puzzle.id != puzzleList[puzzleList.length - 1].id" [style.margin.px]="0">
                    </div>
                </ul>
            </div>
        </tab>

        <tab [disabled]="chosenPuzzle==undefined" heading="puzzle.py" [active]="puzzleTabActive">
            <div class="py-3 px-2 list-container" id="puzzle-container">
                <puzzle-component *ngIf="!loading" [alertsOpen]="alertsOpen" [setAlertsOpen]="setAlertsOpen.bind(this)"
                    [puzzle]="chosenPuzzle!" [index]="chosenPuzzleIndex!" [indexTotal]="puzzleList.length.toString()">
                </puzzle-component>
            </div>
        </tab>
    </tabset>
</div>