<div *ngIf="!editing" class="static-container" [style.justifyContent]="align">
    <p>{{initValue}}</p>
    <button mat-icon-button (click)="toggleEditing()">
        <mat-icon>edit</mat-icon>
    </button>
</div>

<div *ngIf="editing" class="editing-container">
    <mat-form-field>
        <mat-select [(value)]="initValue" (selectionChange)="emitEvent($event);" (closed)="toggleEditing()">
            <mat-option *ngFor="let value of options" [value]="value">{{value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>