@import '../globals.scss';


@media (max-width: 991px) {
  .about-text {
    margin-top: 40px;
  }
}
.about-section{
  display: flex;
  align-items: center;
}

.about-text {
  text-align: right;
  h3 {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 10px;
    color:rgb(240, 240, 240);
  }

  h4 {
    font-weight: 600;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
    color:rgb(185, 185, 185);

    mark {
      font-weight: 600;
      color: #3a3973;
    }
  }

  .btn-bar {
    padding-top: 8px;

    a {
      min-width: 150px;
      text-align: center;
      margin-right: 10px;
    }
  }
}

@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .about-text h4 {
    font-size: 18px;
  }
}

.about-list {
  padding-top: 10px;

  .media {
    padding: 5px 0;
  }

  label {
    color: #3a3973;
    font-weight: 600;
    width: 88px;
    margin: 0;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 11px;
      width: 1px;
      height: 12px;
      background: #3a3973;
      -moz-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
      margin: auto;
      opacity: 0.5;
    }
  }

  p {
    margin: 0;
    font-size: 15px;
  }
}

.about-img {
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.06);
  padding: 10px;
}

@media (max-width: 991px) {
  .about-img {
    margin-top: 30px;
  }
}

.counter-section {
  padding: 40px 20px;

  .count-data {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .count {
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 10px;
  }

  p {
    font-weight: 500;
    margin: 0;
    color: #fe4f6c;
  }
}

.theme-color {
  color: #fe4f6c;
}

.section {
  padding: 100px 0;
  position: relative;
}

.px-btn {
  &.theme {
    background: #fe4f6c;
    color: #ffffff;
    border: 2px solid #fe4f6c;
  }

  padding: 0 20px;
  line-height: 42px;
  border: 2px solid transparent;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;

  &.theme-t {
    background: transparent;
    border: 2px solid #fe4f6c;
    color: #fe4f6c;
  }
}




// OUR TEAM 
.blog{
    h1 {
      margin-top: 0;
      font-size: 3rem;
      display: inline-block;
      color: clr(mainText);

      div {
        position: relative;
        float: left;

        &:first-child {
          color: #3498db;
          margin-right: 1rem;
        }
      }
    }
  
}

/* PROFILE */

.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;

  li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-bottom: 10px;
  }

  .active {
    background: #707070;
    margin-bottom: 10px;
  }
}

/* The colour of the indicators */

.our-team-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

  &:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
  }
}

.our-team {
  padding: 0 0 40px;
  background: #f9f9f9;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #00325a;

  &:hover {
    border-bottom: 5px solid #2f2f2f;
  }

  .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: clr(primary);
      position: absolute;
      bottom: 135%;
      right: 0;
      left: 0;
      opacity: 1;
      transform: scale(3);
      transition: all 0.3s linear 0s;
    }
  }

  &:hover .pic:before {
    height: 100%;
    background: #2f2f2f;
  }

  .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
  }

  &:hover .pic:after {
    background: clr(primary);
  }

  .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
  }

  &:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }

  .team-content {
    margin-bottom: 30px;
  }

  .title {
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  .post {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }

  .social {
    width: 100%;
    padding-top: 10px;
    margin: 0;
    background: #2f2f2f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }

  &:hover .social {
    bottom: 0;
  }

  .social li {
    display: inline-block;

    a {
      display: block;
      padding-top: 6px;
      font-size: 15px;
      color: #fff;
      transition: all 0.3s ease 0s;

      &:hover {
        color: #145889;
        background: #f7f5ec;
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 10px;
  }
}