<div class="">
    <div class="row top-row p-3">
        <div class="col-md-1 task-title">
            <h1 id="task-title">title</h1>
        </div>
        <div class="offset-md-10 col-md-1 task-number">
            <h6 id="task-number">Task 1/2</h6>
        </div>
    </div>
    <hr>
    <div id="bottom-container" class="p-3">
    <div class="row task-story">
        <h4>Story</h4>
        <p id="task-story">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam in enim sit amet justo imperdiet tincidunt sit amet ut ex. 
            Nunc eget mauris ipsum. Phasellus ultricies massa sit amet feugiat sodales. 
            Donec nec est eu felis fermentum tincidunt. Fusce maximus, diam nec hendrerit malesuada, ipsum sem pulvinar nunc, non convallis est nibh sed felis. 
            Sed at sagittis sem. Nullam semper arcu eget quam tincidunt, non interdum augue auctor. Fusce aliquet neque nec aliquet mollis. 
            Maecenas vel nisi non nunc semper pharetra quis at orci. Duis justo magna, malesuada vel fermentum at, volutpat eu diam.</p>

    </div>
    <hr>
    <div class="row" id="examples">
        <div class="examples mt-4">
            <h6>Example 1</h6>
            <div class="example-text-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam in enim sit amet justo imperdiet tincidunt sit amet ut ex. </p>
            </div>
        </div>
        <div class="examples mt-4">
            <h6>Example 2</h6>
            <div class="example-text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam in enim sit amet justo imperdiet tincidunt sit amet ut ex. </p>
                </div>
        </div>
        <div class="examples mt-4">
            <h6>Example 3</h6>
            <div class="example-text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam in enim sit amet justo imperdiet tincidunt sit amet ut ex. </p>
                </div>
        </div>
        <div class="examples mt-4">
            <h6>Example 4</h6>
            <div class="example-text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam in enim sit amet justo imperdiet tincidunt sit amet ut ex. </p>
                </div>
        </div>
        <div class="examples mt-4">
            <h6>Example 4</h6>
            <div class="example-text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam in enim sit amet justo imperdiet tincidunt sit amet ut ex. </p>
                </div>
        </div>
        <div class="examples mt-4">
            <h6>Example 4</h6>
            <div class="example-text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam in enim sit amet justo imperdiet tincidunt sit amet ut ex. </p>
                </div>
        </div>
        <div class="examples mt-4">
            <h6>Example 4</h6>
            <div class="example-text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam in enim sit amet justo imperdiet tincidunt sit amet ut ex. </p>
                </div>
        </div>
        <div class="examples mt-4">
            <h6>Example 4</h6>
            <div class="example-text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam in enim sit amet justo imperdiet tincidunt sit amet ut ex. </p>
                </div>
        </div>


    </div>
    <div class="row mt-3">
        <a href="" id="file"><p>Go to file </p></a>
    </div>
    <div class="row mt-3">
        <form action="">
            <div class="form-group">
                <label for="user-answer">Output:</label>
                <input type="text" id="user-answer">
                <small id="answerHelp" class="form-text text-muted">This should be the answer you recieve from your IDE Output</small>
            </div>
        </form>
        
    </div>
</div>

</div>