/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "/src/app/globals.scss";

@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/nord';

app-root {
    font-family: 'Roboto', sans-serif;
}


body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: overlay
}

.neutral-snackbar {
    .mat-simple-snackbar-action {
        color: #9c9c9c !important;
    }
}

.success-snackbar {
    background: green !important;
    color: white !important;

    .mat-simple-snackbar-action {
        color: white !important;
    }
}

.failure-snackbar {
    background: rgb(204, 0, 0) !important;
    color: white !important;

    .mat-simple-snackbar-action {
        color: white !important;
    }
}

.nav-tabs {
    border-bottom: none;
    gap: 3rem;

    .nav-item {
        margin: 0;

        &:hover:not(.disabled) {
            .nav-link {
                color: clr(mainText);
            }

            .nav-icon {
                path {
                    stroke: clr(mainText);
                }
            }

            &::after {
                width: 75%;
                background-color: clr(mainText);
            }
        }

        .nav-link {
            padding: 3px 0px;
            padding-bottom: 5px;
            height: 100%;
            display: flex;
            border: none;
            background-color: transparent;
            color: clr(subtleText);
        }

        .nav-icon {
            path {
                transition: stroke 200ms;
                stroke: clr(subtleText);
            }
        }
    
        &::after {
            content: '';
            transition: background-color 200ms ease-out, width 200ms ease-out;
            position: relative;
            display: block;
            height: 2px;
            width: 50%;
            background-color: clr(subtleText);
            color: clr(subtleText);
            margin: 0 auto;
            left: 0;
            right: 0;
        }
        
        &.active {
            .nav-link {
                color: clr(mainText) !important;
            }

            .nav-icon {
                path {
                    stroke: clr(mainText) !important;
                }
            }

            &::after {
                transition: background-color 200ms ease-out, width 200ms ease-out;
                content: '';
                position: rel ative;
                display: block;
                height: 2px;
                width: 100% !important;
                background-color: clr(primary) !important;
                color: clr(mainText);
                margin: 0 auto;
                left: 0;
                right: 0;
            }
        }

        &.disabled {
            .nav-link {
                color: clr(verySubtleText);
            }

            &::after {
                background-color: clr(verySubtleText);
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    overflow: overlay
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 10px;
}