<div class="screen-wrap">
    <div class="form-container" [@tabsFadeTrigger]="mainVisibleState">
        <h2>Reset password</h2>
        <p *ngIf="!expiredToken">Enter the new password you wish to use below.</p>
        <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" *ngIf="!expiredToken" autocomplete="off"
            class="mat-form">
            <mat-form-field>
                <mat-label>New password</mat-label>
                <input formControlName="newPassword" matInput type="password">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Repeat password</mat-label>
                <input formControlName="repeatPassword" matInput type="password">
            </mat-form-field>
            <button mat-stroked-button>Change password</button>
        </form>
        <p *ngIf="!hasToken" class="subtitle">Enter your email below and get a
            link to reset your password.</p>
        <p *ngIf="expiredToken && hasToken" class="subtitle">The link you used has expired. Enter your email below to
            receive a new
            link.</p>
        <form [formGroup]="emailForm" (ngSubmit)="sendEmail()" *ngIf="!hasToken || expiredToken" autocomplete="off"
            class="mat-form">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="text">
            </mat-form-field>
            <button mat-stroked-button>Send email</button>
        </form>
    </div>
</div>

<app-footer-component></app-footer-component>